@import "tailwindcss";

:root {

  /* ==============================
     COLORES PRINCIPALES
  ============================== */

  --color-bg-dark: #0B0F14;
  --color-primary: #F28C00;
  --color-accent: #FFC107;

  /* ==============================
     COLORES NEUTROS
  ============================== */

  --color-gray: #8A949E;
  --color-border: #E5E7EB;
  --color-gray-soft: #6B7280;

  /* ==============================
     COLORES BASE
  ============================== */

  --color-white: #FFFFFF;

  /* ==============================
     COLORES DE ACCIÓN
  ============================== */

  --color-info: #2563EB;
  --color-error: #DC2626;

  /* ==============================
     COLORES DE TEXTO
  ============================== */

  --text-primary: #0B0F14;
  --text-secondary: #6B7280;
  --text-muted: #8A949E;

  /* ==============================
     SOMBRAS
  ============================== */

  --shadow-soft: 0 4px 10px rgba(0,0,0,0.08);
  --shadow-medium: 0 10px 25px rgba(0,0,0,0.15);

  /* ==============================
     RADIOS
  ============================== */

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  /* ==============================
     TRANSICIONES
  ============================== */

  --transition: all 0.25s ease;

}